h1{
    display: inline;
}
img{
    vertical-align: middle;
    height: 60px;
} 
header{
    margin: 20px;

}


button{
    border-radius: 20%;
    border-color: rgb(0, 128, 255);
}

#first-button{
    color:antiquewhite;
    background-color:  rgb(0, 128, 255);
    margin-top: 4%;
    display: inline-block;
    height: 30px;
}

#second-button{
    opacity: 70%;
    margin-top: 4%;
    display: inline-block;
    height: 30px;
}


main{
    padding-left: 20%;
}

ul{
    list-style-type:none;
    margin-left: -3%;
}

.border-blue{
    font-size: 0.75rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    background-color: rgb(0, 128, 255) ;
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}


.check{
    font-size: 10px;
    color:green;
    border-color:green;
    border-style: solid;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0.15rem;
    padding-bottom: 5px;
}


.cross{
    font-size: 10px;
    color:red;
    border-color:red;
    border-style: solid;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0.15rem;
    padding-bottom: 5px;
}

.border-purple{
    font-size: 0.75rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    background-color: purple;
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}


.border-aqua{
    font-size: 0.75rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    background-color: rgb(20, 223, 254);
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}

.border-orange{
    font-size: 0.75rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    background-color:orange;
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}



.border-magenta{
    font-size: 0.75rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    background-color:magenta;
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}



.border-lime{
    font-size: 0.75rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    background-color: lime;
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}


h2{
    opacity:75%;
}

li{
    padding: 5px;
    opacity: 80%;
}